@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GoogleOpenSans";
  src: url("../public/fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../public/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: GoogleSans;
  src: url("../public/fonts/Google_Sans/GoogleSans-Bold.ttf");
}

@font-face {
  font-family: GoogleSansRegular;
  src: url("../public/fonts/Google_Sans/GoogleSans-Regular.ttf");
}
